<h1>Characters#show</h1>

<p>キャラ名：<%= @character.character_name %></p>
<p>キャラタイプ：<%= @character.character_type %></p>
<p>レベル：<%= @character.character_level %></p>
<p>経験値：<%= @character.character_exp %></p>

<p><%= link_to "学習時間を記録する", edit_character_path %></p>
